@import 'hamburgers-settings.scss';
@import 'hamburgers/hamburgers.scss';

* {
    box-sizing: border-box;
    line-height: 1;
}

:root {
    font-size: 10px;
}

.layout-centered {
    display: flex;
    width: 708px;
    padding: 0 8px;
    margin: auto;
}

.button {
    padding: 17px 26px;
    font: 700 1.032rem 'Montserrat', sans-serif;     
    background: #ffe26d;
    border-radius: 3px;
    transition: .3s;  
    text-transform: uppercase; 
    color: #323232;        
}

.button:hover {
    background: #62497c;
    color: #fbfafb;
}

.section-title {
    text-align: center;
    font: 700 4.421rem 'Montserrat', sans-serif;
    color: #040405;
}

.page {
    display: flex;
    width: 100%;
    overflow: hidden;

    .page-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: transform 0.7s,
            background 0.4s;
        width: 100%;
        z-index: 10;
    }

    .page-wrapper.overlay::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10000;
        background: rgba(0,0,0, 0.6);
        transition: background 0.4s;
    }

    .page-wrapper.is-moved {
        transform: translateX(350px);
    }

    .page-wrapper.is-moved::before {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 20px;
        box-shadow: 0 0 10px black;
        z-index: 50;
    }
}

.off-canvas {
    overflow: hidden;
    z-index: 20;

    .off-canvas-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 350px;
        padding: 25px 30px;
        transform: translateX(-350px);
        transition: transform .7s;
        background: #1e1f26;
        z-index: 20;
    }

    .menu {
        font: 700 2.4rem 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #ffffff;

        .item {
            margin-bottom: 14px;
            opacity: 0;
            transition: opacity 0.6s;
            cursor: pointer;
            
            .link {
                transition: color .3s;
            }

            .link:hover {
                color: #fee16d;
            }
        }

        .item:last-child {
            margin-bottom: 0;
        }
    }

    .menu-close {
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 1.6rem;
    }

    .off-canvas-wrapper.is-opened {
        transform: translateX(0);
        z-index: 10000;

        .menu .item {
            opacity: 1;
            transition-delay: .6s;
        }
    }
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 50px 0 5px 0;
    width: 100%;
    color: #ffffff;
    z-index: 150;
    text-transform: uppercase;

    .layout-centered {
        justify-content: space-between;
        height: 48px;

        .logo {
            align-self: flex-start;
            font: 700 2.947rem 'Montserrat', sans-serif;
            cursor: pointer;
        }

        .navigation {
            display: flex;
            flex-flow: row nowrap;
            align-self: center;
            font: 700 1.03rem 'Montserrat', sans-serif;

            .item {
                margin-right: 35px;
                transition: .3s;
            }

            .item:hover {
                color: #fee16d;
            }

            .item:last-child {
                margin-right: 0;
            }
        }

        .toggle-button {
            display: none;
        }
    }
}

.sticky-nav.offset {
    padding-top: 15px !important;
    background: rgba(0,0,0, 0.6);
}

.sticky-nav.scroll {
    padding-top: 15px !important;
    background: rgba(0,0,0, 0.6);
}

.header {
    //overflow: hidden;
    color: #ffffff;

    .header-slider {
        display: flex;
        position: relative;

        .swiper-slide {
            display: flex;
            width: 100%;
            padding-top: 192px;

            .layout-centered {
                flex-direction: column;

                .title {
                    margin-bottom: 42px;
                    font: 700 4.069rem 'Montserrat', sans-serif;
                    white-space: pre-line;
                }

                .description {
                    margin-bottom: 35px;
                    font: 100 1.916rem 'Roboto', sans-serif;
                    white-space: pre-line;
                }

                .button {
                    align-self: flex-start;
                    margin-bottom: 260px;
                }
            }
        }

        .slide1 {
            background: url('../img/header-slide1-1200w.jpg') 0 5%/100% 2058px no-repeat;
        }
    
        .slide2 {
            background: url('../img/header-slide2-2134w.jpg') 0 65%/100% no-repeat;
        }
    
        .slide3 {
            background: url('../img/header-slide3-1934w.jpg') 0 80%/100% no-repeat;
        }
    
        .slide4 {
            background: url('../img/header-slide4-1952w.jpg') 0 0/100% no-repeat;
        }

        .swiper-pagination {
            position: absolute;
            bottom: 37px;
            transform: translateX(-310px);

            .swiper-pagination-bullet {
                background: #a99a9e;
            }

            .swiper-pagination-bullet-active {
                background: #ffffff;
            }
        }
    }   
}

.main-content {

    .about {
        .layout-centered {
            flex-direction: column;
            //align-items: center;
            padding-top: 90px;
            padding-bottom: 58px;
            border-bottom: 2px solid #e7e7e7;
            background: url("../img/about-umbrella-icon.svg") 100% 185px/189px no-repeat;

            .section-title {
                margin-bottom: 84px;
                width: 100%;
            }

            > .description {
                width: 100%;
                margin-bottom: 76px;
                font: 100 2.947rem 'Roboto', sans-serif;
                white-space: pre-line;
            }

            .features-list {
                display: flex;
                width: 100%;

                .item {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    flex-basis: 164px;
                    padding-top: 113px;
                    text-align: center;

                    &:nth-child(2) {
                        margin: 0 auto;
                    }
    
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        z-index: 100;
                    }
    
                    &:first-child::before {
                        background: #62497c url("../img/icon1.svg") center/35px 40px no-repeat;
                    }
    
                    &:nth-child(2)::before {
                        background: #62497c url("../img/icon2.svg") center/35px 40px no-repeat;
                    }
    
                    &:last-child::before {
                        background: #62497c url("../img/icon3.svg") center/35px 40px no-repeat;
                    }

                    .title {
                        margin-bottom: 28px;
                        font: 700 1.474rem 'Montserrat', sans-serif;
                        text-transform: uppercase;
                        color: #62497c;
                    }

                    .description {
                        margin-bottom: 38px;
                        font: 400 1.326rem/2.358rem 'Helvetica';
                        color: #818181;
                    }

                    .button {
                        align-self: center;
                    }

                }
            }

            .about-slider {
                display: none;
            }
        }
    }

    .projects {
        padding-top: 60px;
        padding-bottom: 45px;

        .section-title {
            text-align: center;
            padding: 0 20px;
            margin-bottom: 47px;
        }

        .projects-list {
            display: flex;

            .project {
                flex: 1 1 25%;
                display: flex;
                background: #efefef;
                
                .item {
                    display: flex;
                    flex-direction: column;
                    transition: background .3s;
                    cursor: pointer;

                    &:not(.image):hover {
                        background: #ffe26d;
                    }

                    &:hover .img-container > .image {
                        transform: scale(1.1);
                    }

                    .img-container {
                        width: 100%;
                        margin-bottom: 46px;
                        overflow: hidden;

                        .image {
                            height: auto;
                            width: 100%;
                            transition: 1s;
                        }
                    }

                    .title {
                        margin-bottom: 18px;
                        margin-left: 12.54%;
                        margin-right: 9.97%;
                        font: 700 1.474rem 'Montserrat', sans-serif;
                        text-transform: uppercase;
                        color: #040405;
                    }

                    .description {
                        margin-bottom: 16px;
                        margin-left: 12.54%;
                        margin-right: 9.97%;
                        font: 400 1.326rem/2.358rem 'Helvetica';
                        color: #818182;
                    }

                    .button-launch {
                        align-self: flex-start;
                        margin-bottom: 46px;
                        margin-left: 12.54%;
                        margin-right: 9.97%;
                        padding: 17px 25px;
                        font: 700 1.032rem 'Montserrat', sans-serif;
                        text-transform: uppercase;
                        background: #fefefe;
                        border-radius: 3px;
                        color: #323232;
                        transition: .3s;

                        &:hover {
                            background: #62497c;
                            color: #f0edf2;
                        }
                    }
                }
            }
        }

        .projects-slider {
            display: none;
        }
    }

    .pricing {
        padding-top: 45px;
        padding-bottom: 90px;
        color: #040405;

        .layout-centered {
            flex-direction: column;

            .section-title {
                margin-bottom: 48px;
            }

            .price-list {
                display: flex;
                width: 100%;
                padding-left: 3.21%;
                padding-right: 3.21%;

                .item {
                    .card {
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        .title {
                            margin-bottom: 23px;
                            font: 700 1.474rem 'Montserrat', sans-serif;
                            text-transform: uppercase;
                        }

                        .price {
                            margin-bottom: 42px;
                            font: 400 1.474rem 'Montserrat', sans-serif;
                            color: #9d9d9d;
                        }

                        .description-list {
                            font: 400 1.1rem/2.21rem 'Helvetica';

                            .item {
                                margin-bottom: 15px;
                            }

                            .item:last-child {
                                margin-bottom: 24px;
                            }
                        }

                        .button {
                            padding: 10px 30px;
                            align-self: center;
                        }
                    }
                }

                .item:nth-child(2) {
                    margin: 0 auto;
                }
            }

            .price-slider {
                display: none;
            }
        }
    }

    .videos {
        padding-top: 86px;
        padding-bottom: 150px;
        background: #62497c;
        color: #fefefe;

        .section-title {
            margin-bottom: 50px;
            color: #fefefe;
        }

        .video-slider {
            display: flex;
            position: relative;
            width: 100%;

            .swiper-slide {
                display: flex;
                width: 50%;
                //background: gray;

                .video {
                    display: flex;
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                    object-fit: cover;
                }

                .play-button {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: flex;
                    width: 17.14%;
                    height: auto;
                    background: none;
                    outline: none;
                    border: none;
                    
                    .play-icon,
                    .stop-icon {
                        font-size: 15rem;
                        color: #fefefe;
                        transition: color .3s;
                    }

                    .stop-icon {
                        display: none;
                        color: #ffe26d;
                        opacity: 0;
                    }

                }
            }

            .swiper-slide:hover .play-button .icon {
                color: #ffe26d;
                opacity: 1;
            }

            .swiper-slider:hover 

            .swiper-pagination {
                position: absolute;
                bottom: -40px;
            }
        }

    }
}

@media only screen and (max-width: 1000px) {

    .sticky-nav {
        padding-top: 25px;

        .layout-centered {
            padding-left: 40px;
            padding-right: 40px;
            align-items: center;
            width: 100%;

            .logo {
                align-self: center;
            }

            .navigation {
                display: none;
            }

            .toggle-button {
                display: block;
                color: white;
            }
        }
    }

    .header {
        .header-slider {

            .slide1,
            .slide2,
            .slide3,
            .slide4 {
                background-size: cover;

                .layout-centered {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            .swiper-pagination {
                transform: none;
            }
        }
    }

    .main-content {
        .projects {

            .projects-list {
                display: none;
            }

            .projects-slider {
                display: flex;
                position: relative;
                background: #efefef;

                .swiper-slide {
                    .item {
                        display: flex;
                        flex-direction: column;
                        transition: background .3s;
                        cursor: pointer;
    
                        .img-container {
                            width: 100%;
                            margin-bottom: 46px;
                            overflow: hidden;
    
                            .image {
                                height: auto;
                                width: 100%;
                                transition: 1s;
    
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
    
                        .title {
                            margin-bottom: 18px;
                            margin-left: 12.54%;
                            margin-right: 9.97%;
                            font: 700 1.474rem 'Montserrat', sans-serif;
                            text-transform: uppercase;
                            color: #040405;
                        }
    
                        .description {
                            margin-bottom: 16px;
                            margin-left: 12.54%;
                            margin-right: 9.97%;
                            font: 400 1.326rem/2.358rem 'Helvetica';
                            color: #818182;
                        }
    
                        .button-launch {
                            align-self: flex-start;
                            margin-bottom: 46px;
                            margin-left: 12.54%;
                            margin-right: 9.97%;
                            padding: 17px 25px;
                            font: 700 1.032rem 'Montserrat', sans-serif;
                            text-transform: uppercase;
                            background: #fefefe;
                            border-radius: 3px;
                            color: #323232;
                            transition: .3s;
    
                            &:hover {
                                background: #62497c;
                                color: #f0edf2;
                            }
                        }
    
                        &:not(.image):hover {
                            background: #ffe26d;
                        }
                    }
                }

                .swiper-pagination {
                    position: absolute;
                    bottom: -20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    :root {
        font-size: 12px;
    }

    .header {
        .header-slider {
            .swiper-slide {

                .layout-centered {
                    
                    .title,
                    .description {
                        text-align: center;
                    }

                    .button {
                        align-self: center;
                    }
                }
            }
        }
    }

    .main-content {
        .about {
            .layout-centered {
                background-image: none;

                .section-title,
                .description {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .main-content {
        .about {
            .layout-centered {

                .features-list {
                    display: none;
                }

                .about-slider {
                    display: flex;
                    width: 100%;
                    position: relative;

                    .swiper-slide {
                        display: flex;
                        width: 100%;
                        //background: gray;
                            
                        .card {
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            width: 164px;
                            padding-top: 113px;
                            text-align: center;
                            margin: 0 auto;
                                &::before {
                                content: "";
                                position: absolute;
                                display: block;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 80px;
                                height: 80px;
                                border-radius: 50%;
                                background: #62497c
                            }
        
                                .title {
                                margin-bottom: 28px;
                                font: 700 1.474rem 'Montserrat', sans-serif;
                                text-transform: uppercase;
                                color: #62497c;
                            }
        
                                .description {
                                margin-bottom: 38px;
                                font: 400 1.326rem/2.358rem 'Helvetica';
                                color: #818181;
                            }
        
                                .button {
                                align-self: center;
                            }
                        }
                            .card.card1::before {
                            background: #62497c url("../img/icon1.svg") center/35px 40px no-repeat;
                        }
                        
                         .card.card2::before {
                            background: #62497c url("../img/icon2.svg") center/35px 40px no-repeat;
                        }
                            .card.card3::before {
                            background: #62497c url("../img/icon3.svg") center/35px 40px no-repeat;
                        }
                    }

                    .swiper-pagination {
                        position: absolute;
                        bottom: -40px;
                    }
                }
            }
        }

        .projects {
            .projects-slider {
                .swiper-slide {
                    .item {
                        align-items: center;

                        .title,
                        .description,
                        .button-launch {
                            margin-left: 8%;
                            margin-right: 8%;
                            text-align: center;
                        }

                        .button-launch {
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .off-canvas {
        .off-canvas-wrapper {
            width: 400px;
            transform: translateX(-400px);
            padding: 30px 35px;
        }
    }

    .page {
        .page-wrapper.is-moved {
            transform: translateX(400px);
        }
    }

    
}

@media only screen and (max-width: 708px) {

    .header {
        .header-slider {
            .swiper-slide {
                .layout-centered {

                    .title {
                        white-space: normal;
                    }
    
                    .description {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .main-content {
        .about {
            .layout-centered {
                width: auto;
                padding-left: 20px;
                padding-right: 20px;

                > .description {
                    white-space: normal;
                }
            }
        }

        .pricing {
            padding-top: 45px;
            padding-bottom: 45px;
            color: #040405;
    
            .layout-centered {
                width: auto;
                flex-direction: column;
    
                .section-title {
                    margin-bottom: 48px;
                }
    
                .price-list {
                    display: none;
                }

                .price-slider {
                    display: flex;
                    position: relative;

                    .swiper-slide {
                        display: flex;
                        justify-content: center;
                        width: 100%;

                        .card {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
    
                            .title {
                                margin-bottom: 23px;
                                font: 700 1.474rem 'Montserrat', sans-serif;
                                text-transform: uppercase;
                            }
    
                            .price {
                                margin-bottom: 42px;
                                font: 400 1.474rem 'Montserrat', sans-serif;
                                color: #9d9d9d;
                            }
    
                            .description-list {
                                font: 400 1.1rem/2.21rem 'Helvetica';
    
                                .item {
                                    margin-bottom: 15px;
                                }
    
                                .item:last-child {
                                    margin-bottom: 24px;
                                }
                            }
    
                            .button {
                                padding: 10px 30px;
                                align-self: center;
                            }
                        }
                    }

                    .swiper-pagination {
                        position: absolute;
                        bottom: -40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .sticky-nav {
        .layout-centered {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .main-content {
        .projects {
            .projects-slider {
                .swiper-slide {
                    .item {
                        .img-container {
                            max-height: 520px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .off-canvas {
        display: none;
    }

   .sticky-nav {
       display: none;
   }

   .header {
        .header-slider {
            .swiper-slide {
                height: 90vh;
                padding-top: 0;

                .layout-centered {
                    flex-direction: column;
 
                    .button {
                        margin-bottom: 0;
                    }
                }
            }

            .swiper-pagination {
                bottom: 20px;
            }
       }
   }
}

@media only screen and (max-width: 375px) {
    :root {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        font-size: 9px;
    }
}

